body {
    font-family:"Gill Sans Extrabold", sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(227, 208, 197)
}
header {
    background-color: rgb(244, 161, 129);
    color: white;
    text-align: center;
    padding: 1rem;
}
main{
    padding: 2rem;
}
form {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
.movie-card {
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
    padding: 1rem;
    text-align: center;
    max-width: 300px;
}
.movie-card img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 5px;
    object-fit: cover;
}
#movie-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}